@import 'settings';
@import 'Card';
@import 'NavBar';
@import 'Bio';
@import 'Skills';
@import 'Projects';
@import 'Contact';

#App {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(70deg, #000, #2b3640);
}
